.header {
  display: flex;
  align-content: flex-start;
  justify-content: center;
  gap: 100px;
  border-bottom: 1px solid;
  border-color: brown;
}
.link {
  text-decoration: none;
  margin: 100px;
  color: burlywood;
}
.active {
  font-size: xx-large;
  margin: 100px;
  color: brown;
}
